body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000000;
  }
  
  header {
    z-index: 10;
    background-color: rgba(20, 29, 20, 0.8);
    color: #fff;
    height: 15vh;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
  }

  header h1 {
    font-size: 40px;
    margin-left: 5%;
  }
  
  nav {
    margin-right: 5%;
    text-align: left;
    font-size: 12px;
  }
  
nav ul {
    align-items: center;
	list-style: none;
	display: flex;
	gap: 20px;
}

nav li a {
    color: #fff;
	font-size: 15px;
    letter-spacing: 2px;
    text-decoration: none;
}

.inicial {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/a1pinho.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
}

.inicial h2 {
    font-size: 60px;
    margin-bottom: -0.5%;
}

.inicial h3 {
    font-size: 42px;
    font-weight: 300;

}

.explic {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0% 0;
    padding-bottom: 3%;
    background-color:antiquewhite;
    align-items: center
}

.explic>h2 {
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    color: #4F2B0E;
}

.explic hr {
    width: 50%;
    margin: 0 auto;
    background-color: #4F2B0E;
    border: 1px solid #4F2B0E;
}

.explic p {
    text-align: center;
    font-size: 20px;
    color: #000000;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
}

.container_explic {
    align-items: center;
}
.container_explic p {
    padding-right: 2%;
}

.explic img {
    margin-left: 2%;
    margin-right: 10%;
    margin-bottom: 0%;
}

.explic img:hover {
    transform: scale(1.05);
    animation: 1s;
}


.container_explic {
    display: flex;
}

.image_division {
    width: 100%; 
    height: 300px; 
    overflow: hidden; 
    position: relative;
  }
  
  .image_division::before {
    content: "";
    background-image: url('../images/fgv_AI.jpg'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
  }

  .container_botao_git{
    display: flex;
    justify-content: center;
}

  .botao_git {
    display: flex;
    justify-content: center;
    font-size: 24px;
    background-color: #4F2B0E;
    border-radius: 25px;
    color: #E1DFDB;
    transition: transform 0.1s;
    padding: 10% 300%;
}

.botao_git a {
    color:#fff;
    text-decoration:none;
}

.botao_git:hover {
    transform: scale(1.05);
}

.container_explic_2 {
    display:flex;
    justify-content:center
}

.container_explic_2 img {
    margin-right:5%;
    margin-left:5%;
    margin-top:5%
}

footer {
    background-color: #010101; 
    padding: 8vh; 
    text-align: center; 
}

footer p {
    margin: 10px; 
    font-size: 16px; 
    color: #333; 
}


/* Estilos para telas menores (tablet) */
@media (max-width: 820px) {
    header {
        height: 10vh;
    }

    header h1 {
        font-size: 30px;
    }

    nav {
        font-size: 10px;
        gap: 5px;
    }

    nav {
        margin-right: 2%;
    }

    nav ul {
        gap: 10px;
    }

    nav li a {
        font-size: 14px;
    }

    .inicial h2 {
        font-size: 40px;
    }

    .inicial h3 {
        font-size: 30px;
    }

    .explic h2 {
        font-size: 40px;
    }

    .explic p {
        font-size: 16px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .explic img {
        margin-left: 1%;
        margin-right: 5%;
    }


    .botao_git {
        font-size: 20px;
        padding: 5% 20%;
    }

    .texto_explic {
        font-size: 18px;
    }
}

/* Estilos para telas menores (celular) */
@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    nav {
        margin-right: 1%;
        font-size: 10px;
    }

    nav ul {
        gap: 5px;
    }

    nav li a {
        font-size: 12px;
    }

    .inicial h2 {
        font-size: 30px;
    }

    .inicial h3 {
        font-size: 22px;
    }

    .explic h2 {
        font-size: 30px;
    }

    .explic p {
        font-size: 14px;
        padding-left: 2%;
        padding-right: 2%;
    }

    .explic img {
        margin-left: 1%;
        margin-right: 2%;
    }

    .botao_git {
        font-size: 16px;
        padding: 2% 15%;
    }

    .texto_explic {
        font-size: 16px;
    }
}
